*{
 font-family: "Jost", sans-serif;
 /* overflow-x: hidden; */
}
.animated-slider-container {
  width: 100%;
  height: 760px;
  overflow: hidden;
}

.slide-bg {
  height: 760px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 280px;
}

.slide-content {
  color: #000;
  max-width: 600px;
}

.slide-subtitle {
  font-size: 14px;
  color: #bd9c85;
  font-weight: 600;
  margin-bottom: 20px;
}

.slide-title {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.2;
}

.slide-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.slide-button {
  display: inline-block;
  background-color: #bd9c85;
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.slide-button:hover {
  background-color: #a87b5c;
}
